:root{
    --clr-grey: #27272a;
    --clr-light: #fffbeb;
    --clr-fushia950: #4a044e;
    --clr-emerald600: #059669;
    --clr-emerald400: #34d399;
}
*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Satoshi', sans-serif;
    background-color: var(--clr-grey);
    color: var(--clr-light);
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}
button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
strong {
    color: var(--clr-emerald400);
}
a {
    color: var(--clr-light);
    text-decoration: none;
    font-size: 20px;
    display: block;
    position: relative;
}
nav ul li a:hover{
    background-color: var(--clr-emerald600);
    transition: 2s;
    transform: rotate(360deg);
}
nav ul li a.souligne::after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: var(--clr-emerald600);
    border-radius: 50px;
}
img{
    margin: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: solid 4px var(--clr-fushia950);
    border-left: solid 4px var(--clr-fushia950);
    border-right: solid 4px var(--clr-fushia950);
    background-color: var(--clr-fushia950);
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top: solid 4px var(--clr-fushia950);
    border-left: solid 4px var(--clr-fushia950);
    border-right: solid 4px var(--clr-fushia950);
    background-color: var(--clr-fushia950);
}
label{
    color: var(--clr-light);
    padding-right: 5px;
    margin-left: 5px;
    font-size: 20px;
}
button{
    margin-left: 5px;
}
main{
    margin: 15px;
}
p{
    font-size: 18px;
    max-width: 75ch;
}
h1, h2, h3{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding-bottom: 5px;
}
h4{
    font-family: 'Dancing Script', cursive;
    padding-bottom: 5px;
    font-size: 35fpx;
}
#labellm{
    margin-top: 5px;
}