:root{
    --clr-grey: #4b5563;
    --clr-light: #f8fafc;
    --clr-purple400: #c084fc;
    --clr-purple700: #7e22ce;
    --clr-purple950: #3b0764;
    --clr-blue500: #3b82f6;
    --clr-cyan500: #06b6d4;
    --clr-slate800: #1e293b;
    --clr-slate600: #475569;
}
*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Satoshi', sans-serif;
    background-color: var(--clr-grey);
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}
button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
strong {
    color: var(--clr-purple950);
}
a {
    color: var(--clr-cyan500);
    text-decoration: none;
}
img{
    margin: 20px;
    width: 5%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: solid 4px var(--clr-purple950);
    border-left: solid 4px var(--clr-purple950);
    border-right: solid 4px var(--clr-purple950);
    background-color: var(--clr-slate800);
    height: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}