.container{
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
    /* supp it later */
    border: 1px solid red;
}
.buttonnav{
    border: solid black 1px;
    border-radius: 20px;
    padding: 4px 15px;
    color: var(--clr-light);
    background-color: var(--clr-emerald600);
}
.logo{
    cursor: pointer;
}
.section{
    margin-top: 5rem;
}
/*création du switch dark/ light mode*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-emerald600);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--clr-fushia950);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--clr-emerald600);
}
    input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-emerald600);
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
  .slider.round:before {
    border-radius: 50%;
}
.light-mode{
    background-color: var(--clr-light);
    color: black;
    transition: all 7s;
}
.light-mode header{
    color: var(--clr-light);
}
.light-mode strong{
    color: var(--clr-emerald600);
}
.light-mode .bar{
    background-color: var(--clr-grey);
}
/*pour cacher et afficher une partie du site*/
.hidden{
    opacity: 0;
    transition:  all 7s;
}
.show{
opacity: 1;
}
/*Mobile*/
@media (min-width: 300px){
    .container{
        max-width: 300px;
    }
    .logo{
        width: 20%;
    }
    label{
        margin: 5px;
    }
    @media (max-width: 300px){
        .label{
            display: flex;
            flex-direction: column;
        }
    }
    nav ul li{
        list-style: none;
        display:flex;
        flex-direction: column;
        padding: 10px;
        padding-left: 0px;
    }
}
/* xS */
@media (min-width: 475px){
    .container{
        max-width: 475px;
    }
    .logo{
        width: 5%;
    }
    header{
        height: 140px;
    }
    .label{
        display: flex;
        flex-direction: row;
    }
    nav ul li{
        list-style: none;
        display:flex;
        flex-direction: column;
        padding: 10px;
        padding-left: 0px;
    }
}

/* S */
@media (min-width: 640px){
    .container{
        max-width: 640px;
    }
    .logo{
        width: 5%;
    }
    header{
        height: 140px;
    }
    .label{
        display: flex;
        flex-direction: row;
    }
    nav ul li{
        list-style: none;
        display:flex;
        flex-direction: column;
        padding: 10px;
        padding-left: 0px;
    }
}
/* M */
@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
    header{
        height: 100px;
    }
    .logo{
        width: 5%;
    }
    .label{
        display: flex;
        flex-direction: row;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        padding: 10px;
        padding-left: 0px;
    }
}

/* L */
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
    .logo{
        width: 5%;
    }
    .section{
        margin-top: 6.5rem;
    }
    header{
        height: 100px;
    }
    .label{
        display: flex;
        flex-direction: row;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        padding: 10px;
        padding-left: 0px;
    }
}

/* xL */
@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
    .logo{
        width: 5%;
    }
    header{
        height: 100px;
    }
    .label{
        display: flex;
        flex-direction: row;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        padding: 10px;
        padding-left: 0px;
    }
}

/* 2xL */
@media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
    .logo{
        width: 5%;
    }
    header{
        height: 100px;
    }
    .label{
        display: flex;
        flex-direction: row;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        padding: 10px;
        padding-left: 0px;
    }
}