.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--clr-blue500);
    padding: 0.5em 1em;
    border-radius: 6px;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
    /* supp it later */
    border: 1px solid red;
}
.buttonnav{
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px 15px;
    color: var(--clr-cyan500);
    background-color: var(--clr-slate600);
}
.logo{
    cursor: pointer;
}
.section{
    margin-top: 5rem;
}

/* xS */
@media (min-width: 475px){
    .container{
        max-width: 475px;
    }
}

/* S */
@media (min-width: 640px){
    .container{
        max-width: 640px;
    }
}

/* M */
@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
}

/* L */
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
    .section{
        margin-top: 6.5rem;
    }
}

/* xL */
@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

/* 2xL */
@media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}